In [1]:
import pandas as pd

# Question 1

In [32]:
TestNumbers= [1,2,3,4,4,1,5,2,2]
TestSeries = pd.Series(TestNumbers)
TestSeries.unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [33]:
TestSeries.is_unique

False

In [34]:
# Question 1 the unique attribute only returns the unique values of a series. In the example above it took our
#test numbers and only returned unqiue values and no duplicates.
#if you wanted a boolean value you would use .is_unique attribute

# Question 2

In [28]:
titanicseries = pd.read_csv("C:\\Users\\chanc\\Documents\\Creighton\\Data Wrangling\\Titanic.csv", usecols= ['Name'], squeeze = True)
titanicseries[1]
#using chain method to extract a value, second method is below

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [92]:
print(titanicseries.get("John"))

None

In [41]:
-1 in titanicseries.index

False

In [103]:
value = -1

if titanicseries.get(value) is None:
    print("Does not excist")
else: 
    print(titanicseries.get(value))

Does not excist

In [ ]:
#both examples above show what happens when you try and find a value based on an index that doesnt excist - it returns None or False
#writing an if statement allows one to test if the value is found or doesn't excist

In [59]:
#we can extract 2 values by using 2 values in the chain method
titanicseries[[1,2]]

1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
Name: Name, dtype: object

In [104]:
#shows what happens if we try and pull multiple values one being negative
print(1 and 2 in titanicseries)
print(-1 and -2 in titanicseries)
print(titanicseries.get([1,2])) #how we can pull multiple values
print(titanicseries.get([-1,2])) # it returns none for this value

True
False
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
Name: Name, dtype: object
None

# Question 3

In [131]:
new_nobel = pd.read_csv("C:\\Users\\chanc\\Documents\\Creighton\\Data Wrangling\\nobel.csv", usecols = ["Year", "Category", "Prize", "Motivation", "Laureate Type",
"Full Name", "Birth Date", "Birth Country", "Sex", "Death Date"])

In [132]:
new_nobel["Laureate Type"].value_counts()

Individual      939
Organization     30
Name: Laureate Type, dtype: int64

In [133]:
new_nobel["Age"]=0

In [175]:
new_nobel = new_nobel.fillna(0)

In [198]:
new_nobel["Birth Date"] = new_nobel["Birth Date"].str.split('-').str[0]
new_nobel["Birth Date"] = pd.to_numeric(new_nobel["Birth Date"])

In [199]:
new_nobel["Real_Age"] = (new_nobel["Year"]-new_nobel["Birth Date"])

In [200]:
new_nobel

,Year,Category,Prize,Motivation,Laureate Type,Full Name,Birth Date,Birth Country,Sex,Death Date,Age,Real_Age
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",Individual,Jacobus Henricus van 't Hoff,1852.0,Netherlands,Male,1911-03-01,0,49.0
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",Individual,Sully Prudhomme,1839.0,France,Male,1907-09-07,0,62.0
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",Individual,Emil Adolf von Behring,1854.0,Prussia (Poland),Male,1917-03-31,0,47.0
3,1901,Peace,The Nobel Peace Prize 1901,0,Individual,Jean Henry Dunant,1828.0,Switzerland,Male,1910-10-30,0,73.0
4,1901,Peace,The Nobel Peace Prize 1901,0,Individual,Frédéric Passy,1822.0,France,Male,1912-06-12,0,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...
964,2016,Medicine,The Nobel Prize in Physiology or Medicine 2016,"""for his discoveries of mechanisms for autophagy""",Individual,Yoshinori Ohsumi,1945.0,Japan,Male,0,0,71.0
965,2016,Peace,The Nobel Peace Prize 2016,"""for his resolute efforts to bring the country...",Individual,Juan Manuel Santos,1951.0,Colombia,Male,0,0,65.0
966,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",Individual,David J. Thouless,1934.0,United Kingdom,Male,0,0,82.0
967,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",Individual,F. Duncan M. Haldane,1951.0,United Kingdom,Male,0,0,65.0
968,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",Individual,J. Michael Kosterlitz,1943.0,United Kingdom,Male,0,0,73.0

In [201]:
new_nobel.drop(labels="Age", axis =1)

,Year,Category,Prize,Motivation,Laureate Type,Full Name,Birth Date,Birth Country,Sex,Death Date,Real_Age
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",Individual,Jacobus Henricus van 't Hoff,1852.0,Netherlands,Male,1911-03-01,49.0
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",Individual,Sully Prudhomme,1839.0,France,Male,1907-09-07,62.0
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",Individual,Emil Adolf von Behring,1854.0,Prussia (Poland),Male,1917-03-31,47.0
3,1901,Peace,The Nobel Peace Prize 1901,0,Individual,Jean Henry Dunant,1828.0,Switzerland,Male,1910-10-30,73.0
4,1901,Peace,The Nobel Peace Prize 1901,0,Individual,Frédéric Passy,1822.0,France,Male,1912-06-12,79.0
...,...,...,...,...,...,...,...,...,...,...,...
964,2016,Medicine,The Nobel Prize in Physiology or Medicine 2016,"""for his discoveries of mechanisms for autophagy""",Individual,Yoshinori Ohsumi,1945.0,Japan,Male,0,71.0
965,2016,Peace,The Nobel Peace Prize 2016,"""for his resolute efforts to bring the country...",Individual,Juan Manuel Santos,1951.0,Colombia,Male,0,65.0
966,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",Individual,David J. Thouless,1934.0,United Kingdom,Male,0,82.0
967,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",Individual,F. Duncan M. Haldane,1951.0,United Kingdom,Male,0,65.0
968,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",Individual,J. Michael Kosterlitz,1943.0,United Kingdom,Male,0,73.0

In [212]:
new_nobel["Real_Age"].mean()

59.48510638297872

In [213]:
new_nobel.describe()

              Year   Birth Date    Age    Real_Age
count   969.000000   940.000000  969.0  940.000000
mean   1970.287926  1910.595745    0.0   59.485106
std      32.937498    31.242198    0.0   12.364399
min    1901.000000  1817.000000    0.0   17.000000
25%    1947.000000  1891.000000    0.0   50.000000
50%    1976.000000  1916.000000    0.0   60.000000
75%    1999.000000  1935.250000    0.0   69.000000
max    2016.000000  1997.000000    0.0   90.000000

# Question 4

In [221]:
nba_series = pd.read_csv("C:\\Users\\chanc\\Documents\\Creighton\\Data Wrangling\\nba.csv", usecols= ["Salary",'Name'], index_col = ["Name"], squeeze= True)

In [223]:
nba_series["John Holland"]

nan

In [228]:
5000000 in nba_series #no

False

In [240]:
nba_series.mean()

4842684.105381166

In [242]:

def salarycheck(n):

    Average = 4842684.10   
    
    if n == Average:
        return "Average Salary"
    elif n > Average:
        return "Above Average"
    elif n < Average:
        return "Below Average"
    else:
        return "No Salary Reported"

In [244]:
nba_series.apply(salarycheck).value_counts()

Below Average         296
Above Average         150
No Salary Reported     12
Name: Salary, dtype: int64