

# ANX 603 :  Python for Data Analytics
## Assignment 1  - Due Wednesday 8/24/2022, at 11:59 pm ( 10 points in total)
## Instructor : Dr. Ali Dag

## Question 1 and 2 are worth 0.5 pts each. Question 3 - 11 are worth 1 pt each. 
## (2 * 0.5) + (9 * 1) = 10 pts total


### Note : Submit .ipynb (this) file to the canvas. Name your .ipynb file as “Yourname_Assignment1.ipynb" before submitting.

While working on the assignment;
- Use your judgement
- State your assumptions (what do you understand)
- Solve the problem

### Note  Please note that the output that you should obtain is given below each question !, So take the advantage of it !

Good luck!


## Question 1 (Data Types, Conversions, Operators and String Concatenation)

Create a variable and assign 123.0 (float number) to this variable.
Create another variable and assign 45 (string) to this second one.

Now, by using these two variables and using the appropriate conversions and operations, please print  "12345", which should be a string.
After printing the result, add "5" to the result to obtain "12350". 

Hint : Note that the data types that you are dealing with different. In this question, you need to use float, string, and integer data types. In addition, you will need to convert them to each other as you need.

Note : Use only one cell in for your operations.

In [16]:
f1= 123.0 
s1="45"

f1=str(f1) #float and a string can not concatenate. I need to convert float into string

f1 = f1[:3] #decimal still remains so I need to grab only first 3 numbers and reassign variable

f1+s1 # concatenate strings this equals 12345

print(str(int(f1+s1)+5)) #convert into integer and add 5 to it - then print as string

12350


## Question 2 (Variable Assignment and Simple Math Operators)

* Assume that you are working for a Digital Marketing company as a part time student. Your hourly pay is $15.00. If you work after hours (after 5 pm or weekends), then your hourly rate is doubled.

* Assume that you worked 10 regular hours, and 5 after hours.
* Please calculate your total pay, by creating two variables for 1) the amount of regular hours, and 2)the amount of after hours.

Note: You do not need to assign variables for your hourly pays, as they do not change from week to week.
Note: Use only one cell for your operations

In [19]:

RH=10 #regular Hourly wage
AH=5  #After Hour wage

print((15*RH)+(30*AH)) #total pay is equal to the regular hours work* regular pay (15) and after hours worked*double pay

300

## Question 3 (Variable Assignment and Simple Math Operators)

* Assume that you are working for a Digital Marketing company as a part time student. Your hourly pay is $15.00. If you work over 20 hours/week, then your hourly rate is doubled.

* Assume that you worked 25 hours in total.
* Please calculate your total pay, by creating only two variables (1) for the amount of total hours and 2) for the max limit of regular hours).

Note: You do not need to assign variables for your hourly pays, as they do not change from week to week.

Note: Use only one cell in for your operations.

In [20]:
TH =25  #total hours for the week
MH =20   #max hours 

print((30*(TH-MH))+(15*(TH-(TH-MH)))) #finds amount of max hours over and total hours

450

## Question 4 (Strings)

* By using **one print function (only)**, please print the following statement in the format that it is given (in four consecutive rows, without anything in between).
 
 
Welcome to Creighton

Welcome to 

Heider

Welcome to BIA 479

Note: Use only one cell in for your operations.

In [5]:
#need to use line break

print("Welcome to Creighton \nWelcome to \nHeider \nWelcome to BIA 479")

Welcome to Creighton
Welcome to
Heider
Welcome to BIA 479

## Question 5 (String Operators and Concatenation)

* Create two variables, and assign them the following two strings.

1) "Welcome ALL", and 2) "HI EVERYBODY".


* Now, by using these two strings, create a new sentence that prints "WELCOME everybody".

Hint : You will do string slicing, concatenation and .lower and .upper functions in this question.

Note : Use minimum number of cells you can.

In [27]:
v1= "Welcome ALL"  #statement 1 
v2= "HI EVERYBODY"   #statement 2


print(v1[:7].upper()+(v2[2:].lower()))  #slices first string and assigns upper case and slices second string and assigns lower case

WELCOME everybody


## Question 6 (String Immutability and Operators)

* Create a variable, and assign the following string to this variable.

"I wrote two articles"




* Now, replace the word "wrote" with "read", so the new variable (string) reads as "I read two articles" instead of the original one.


Hint : You will do two string slicings,and a new variable assignmnent,string concatenation

Note : Use minimum number of cells you can.

In [7]:
x= "I wrote two articles"

x=x[:2]+"read"+x[7:] #slice in 2 concatenate word read and reassign

print(x)

#easier method to use the replace command x.replace("wrote","read")

I read two articles

# Question - 7 (Lists)

Create the following two lists:<br>

**list1** = [1, 2, 3, 6, [2, 3, 4], 'Sooner!']<br>
**list2** = [["Stringx", [4,['Go Pokes!',4]]],3]<br>

1. After creating these two lists, concatenate them and store in **list3**<br>
2. After creating **List3**, please Replace "Stringx" with "Boomer!" in list **list3**<br>
3. And Print **list3**
4. Remove 'Go Pokes!' from **list3**, and print **list3** (-Hint:Use del function)

In [7]:
list1 = [1, 2, 3, 6, [2, 3, 4], 'Sooner!']
list2 = [["Stringx", [4,['Go Pokes!',4]]],3]
list3 = list1 + list2 #concatenated strings



list2[0][0]="Boomer!" #replace in list 3
print(list3) #print list 3

del list3[6][1][1][0] #find go pokes and remove

print(list3)

[1, 2, 3, 6, [2, 3, 4], 'Sooner!', ['Boomer!', [4, ['Go Pokes!', 4]]], 3]
[1, 2, 3, 6, [2, 3, 4], 'Sooner!', ['Boomer!', [4, [4]]], 3]

# Question - 8 (Lists)

Consider the below list:<br>
_salaries = [50000, 90000, 550000,300000]_
1. Find the maximum salary
2. Calculate the average salary

In [9]:
salaries = [50000, 90000, 550000,300000]

print(max(salaries)) #max salary

print(sum(salaries)/len(salaries)) #average by finding sum and dividing by length

550000
247500.0

# Question - 9: Dictionaries

Consider these two lists<br></font> 

**states** = ['OK','OR','FL','CA','NY','MI']

**cities** = ['Norman','Portland','Miami', 'San Francisco','Binghamton', 'Lansing']


1. From strings in states and cities, create dictionary USA_visit (keys = states, values = cities), and print the dictionary USA_visit
2. Print out the keys in USA_visit
3. Print out value that belongs to key 'CA'
4. Add the key 'NE' with the value 'Omaha' to USA_visit, and print the USA_visit dictionary
5. Remove the key 'MI' from USA_visit, and print the USA_visit dictionary
6. Update(replace) the "Binghamton" with "NewYork", and print the USA_visit dictionary

In [12]:
states = ['OK','OR','FL','CA','NY','MI']

cities = ['Norman','Portland','Miami', 'San Francisco','Binghamton', 'Lansing']

USA_visit={states[0]:cities[0],states[1]:cities[1],states[2]:cities[2],states[3]:cities[3],states[4]:cities[4],states[5]:cities[5]}
print(USA_visit)  #create dicitionary using strings 

#the expected answer doesn't include printing the full dictionary but the instructions request to print the dictionary in step 1

print(USA_visit.keys()) #print keys 

print(USA_visit["CA"])  #value that belongs to CA

USA_visit["NE"]="Omaha" #place new value
print(USA_visit) 

del (USA_visit["MI"]) #remove MI
print(USA_visit)

USA_visit["NY"]= "NewYork" #replace value

print(USA_visit)

{'OK': 'Norman', 'OR': 'Portland', 'FL': 'Miami', 'CA': 'San Francisco', 'NY': 'Binghamton', 'MI': 'Lansing'}
dict_keys(['OK', 'OR', 'FL', 'CA', 'NY', 'MI'])
San Francisco
{'OK': 'Norman', 'OR': 'Portland', 'FL': 'Miami', 'CA': 'San Francisco', 'NY': 'Binghamton', 'MI': 'Lansing', 'NE': 'Omaha'}
{'OK': 'Norman', 'OR': 'Portland', 'FL': 'Miami', 'CA': 'San Francisco', 'NY': 'Binghamton', 'NE': 'Omaha'}
{'OK': 'Norman', 'OR': 'Portland', 'FL': 'Miami', 'CA': 'San Francisco', 'NY': 'NewYork', 'NE': 'Omaha'}

# Question - 10: Tuples

1. Initiate the below tuple

tp = (1,2,3,6,8,4,9,12,15,20)

2. Print the first half of the tuple in one line (with using indexing and slicing concept)
3. Print the second half of the tuple in second line (with using indexing and slicing concept)
4. Find out number of items that is equal to 1 in tuple **tp** 
5. Find out the index of 6 in tuple **tp** 
6. Concatenate the tuple ("Fire and the Rain", 3,5) to tuple **tp** , and print **tp**

In [14]:
tp = (1,2,3,6,8,4,9,12,15,20)
print(tp[:int(len(tp)/2)]) #first half
print(tp[int(len(tp)/2):])  #second half

print(tp.count(1))  #equal to 1
tp.index(6)   #index equal to 6
tp=tp + ("Fire and the Rain", 3,5) #concatenate with new values
print(tp)

(1, 2, 3, 6, 8)
(4, 9, 12, 15, 20)
1
(1, 2, 3, 6, 8, 4, 9, 12, 15, 20, 'Fire and the Rain', 3, 5)

# Question - 11: Stock Transition Program 


Last month, Joe purchased some stock in Acme Software, Inc. Here are the details of the purchase:<br>
•	The number of shares that Joe purchased was 2000.<br>
•	When Joe purchased the stock, he paid $40.00 per share. <br>
•	Joe paid his stockbroker a commission that amounted to 3 % of the amount he paid for the stock. <br>

Two weeks later, Joe sold the stock. Here are the details of the sale:<br>
•	The number of shares that Joe sold was 2000.<br>
•	He sold the stock for $42.75 per share.<br>
•	He paid his stockbroker another commission that amounted to 3 percent of the amount he received for the stock.<br><br>



Write a program that displays the following information:<br>
•	The amount of money Joe paid for the stock.<br>
•	The amount of commission Joe paid his broker when he bought the stock.<br>
•	The amount for which Joe sold the stock.<br>
•	The amount of commission Joe paid his broker when he sold the stock.<br>
•	Calculate and Print the amount of money that Joe has made as a profit.

In [15]:
ps  = 2000 #purchased Shares
pap = 40 #price at purchase
co= .03 #commision rate
ss= 2000 #shares sold
pas= 42.75 #price at sale
pa= ps*pap #purchase shares * price at purchase is Purchased Amount
sa= ss*pas #shares sold * price at sale is Sold Amount
cap=(co*(pa)) #commision at purchase is commision * purchased amount
cas=(co*(sa))  #commision at sale is commision * sold amount

print(pa) #amount of money to purchase shares
print(cap) #amount of commision at purchase
print(sa)  #sold amount
print(cas) #comission at sale
print((sa-cas)-(pa+cap)) #total profit

80000
2400.0
85500.0
2565.0
535.0

## THE END