# Python Programming for Analytics

# Dr. Ali Dag
# Assignment 4

## Note that there are 5 questions in this assignment.Each question is worth 2 pts, totaling 10points. 

## Also note that, I have designed the notebook in a way that, you can use one cell per each subquestion. For example, there are 5 cells assigned for Q1 as there are 5 subquestions in total.


## Due date : Sep 14  (Wednesday), 2022 at 11:59 pm

## Name the file “Name_Assignmnet4.ipynb” <br />

If the question is not clear for you:<br />
    - Use your judgement
    - State your assumptions (what do you understand)
    - Solve the problem
    
Good luck!

# California Salaries Exercise 

California Salaries Dataset:

One way to understand how a city government works is by looking at who it employs and how its employees are compensated. This data contains the names, job title, and compensation for a California employees on an annual basis from 2011 to 2014.

Just go ahead and follow the directions and answer the questions and complete the tasks. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Good luck!

# Question 1: Import and understand the dataset! ____

- a) Import pandas and read in the CaliforniaSalaries csv file and set it to a DataFrame called "sal". 
- b) Check the head of the DataFrame.
- c) Use a method to find out how many entries there are in each column.
- d) Calculate the average "basepay".
- e) What is the highest amount of "OvertimePay" in the dataset ?

In [819]:
import pandas as pd
CalSal= pd.read_csv("CaliforniaSalaries.csv")
sal=pd.DataFrame(CalSal)
#set to dataframe called sal

In [766]:
sal.head()
#pull head

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [767]:
sal.count(axis='rows')

Id                  100
EmployeeName        100
JobTitle            100
BasePay             100
OvertimePay         100
OtherPay            100
Benefits              0
TotalPay            100
TotalPayBenefits    100
Year                100
Notes                 0
Agency              100
Status                0
dtype: int64

In [768]:
sal["BasePay"].mean()

173747.02569999997

In [769]:
sal["OvertimePay"].max()

245131.88

# Question 2:

- a) What is the job title of  "NATHANIEL FORD" ? 
- b) How much does JOSEPH DRISCOLL make (including benefits)?

In [770]:
import pandas as pd 
Name = "NATHANIEL FORD"
sal.loc[sal.EmployeeName == Name,"JobTitle"].item()

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [771]:
Name = "JOSEPH DRISCOLL" #set variable called name
sal.loc[sal.EmployeeName == Name,"TotalPayBenefits"].item()

270324.91

# Question 3:

- a) What is the name of highest paid person (including benefits)? 
- b) What is the name of lowest paid person (including benefits)?
- c) What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [772]:
max=sal["TotalPayBenefits"].max() #use variable to find max
sal.loc[sal.TotalPayBenefits == max,"EmployeeName"].item()

'NATHANIEL FORD'

In [773]:
min=sal["TotalPayBenefits"].min() 
sal.loc[sal.TotalPayBenefits == min,"EmployeeName"].item()
#switch out max to min using min variable

'SONALI BOSE'

In [774]:
import pandas as pd
saldf=sal[["BasePay","Year"]]
saldf.groupby("Year").mean()
#reduce columns and only see year and base pay

            BasePay
Year
2011  170717.011744
2012  222220.636667
2013  154635.060000
2014  201119.630000

# Question 4:

- a) How many unique job titles are there un the dataset? 
- b) What are the top 5 most common jobs?
- c) How many Job Titles were represented by only one person in 2013 ?
- d) Identify in which column/s the missing values are present.
- e) Replace the missing values with the mean of that column. ( Note that there is one numeric column that have missing values. And it is the ''Benefits". column. For now, you need to impute the missing values for this column with $120,000.

In [775]:
sal["JobTitle"].nunique() #all the different job titles

38

In [776]:
sal[["JobTitle"]].value_counts()[:5] #top 5 in the column

JobTitle
BATTALION CHIEF, (FIRE DEPARTMENT)      21
CAPTAIN, FIRE SUPPRESSION                8
CAPTAIN III (POLICE DEPARTMENT)          7
DEPARTMENT HEAD V                        6
DEPUTY CHIEF III (POLICE DEPARTMENT)     5
dtype: int64

In [777]:
import numpy as nd
import pandas as pd
saldff=sal[["Year","JobTitle"]]
(saldff[saldff['Year']==2013]['JobTitle'].value_counts()==1).sum()

#essentiually value counts only show what is true. Use sum to convert past true and false

2

In [759]:
sal.isna().sum() #use sum again to convert past true and false. Show acutal counts of what is na

Id                    0
EmployeeName          0
JobTitle              0
BasePay               0
OvertimePay           0
OtherPay              0
Benefits              0
TotalPay              0
TotalPayBenefits      0
Year                  0
Notes               100
Agency                0
Status              100
JobTitleLength      100
test                100
dtype: int64

In [760]:
sall=sal.fillna({'Benefits': 120000})
sal=sall
sal
# set to sal or it will be temporary. I want all sal's going forward to have new value

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,JobTitleLength,test
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,120000.0,567595.43,567595.43,2011,NaN,San Francisco,NaN,None,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,120000.0,538909.28,538909.28,2011,NaN,San Francisco,NaN,None,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,120000.0,335279.91,335279.91,2011,NaN,San Francisco,NaN,None,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,120000.0,332343.61,332343.61,2011,NaN,San Francisco,NaN,None,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,120000.0,326373.19,326373.19,2011,NaN,San Francisco,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,MIVIC HIROSE,MANAGER VIII,215180.76,0.00,12000.00,120000.0,227180.76,227180.76,2011,NaN,San Francisco,NaN,None,NaN
96,97,SARAH CARY,ANESTHETIST,208925.60,5539.30,12615.60,120000.0,227080.50,227080.50,2014,NaN,San Francisco,NaN,None,NaN
97,98,KEVIN SMITH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.67,35402.71,22261.95,120000.0,226357.33,226357.33,2011,NaN,San Francisco,NaN,None,NaN
98,99,GREGORY STANGLAND,FIRE FIGHTER PARAMEDIC,122404.98,86719.38,15315.61,120000.0,224439.97,224439.97,2011,NaN,San Francisco,NaN,None,NaN
99,100,SONALI BOSE,DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG,224035.85,0.00,0.00,120000.0,224035.85,224035.85,2011,NaN,San Francisco,NaN,None,NaN

# Question 5:

- a) Write a function that prints how many people have the word Chief in their job title ? 
- b) By using python, tell us if there is a correlation between length of the Job Title string and Salary ?

In [841]:
sal.loc[sal['JobTitle'].str.contains("CHIEF", case=False)].count()[0]
#shows me all strings that contains CHEIF and then counts them. I just pulled the count of the index which was the first listed.
#makes sense if you remove the Index 0. Simple work around

35

In [838]:
def namelen(x):
    return(len(x))
sal["JobTitleLength"]=sal.JobTitle.apply(namelen)
sal
sal["JobTitleLength"].corr(sal["BasePay"])
#was very tricky - had to first create a new column that counted job title length. Input new column then find correlation

-0.19039430543392621

# Good Luck !