# ANX 603 :  Python for Data Analytics
## Assignment 2  - Due Wednesday 8/31/2022, at 11:59 pm ( 10 points in total)
## Instructor : Dr. Ali Dag

## Each question is worth 1 point. 

## Note  Please note that the output that you should obtain is given below each question !, So take the advantage of it !

#### Note : Submit .ipynb (this) file to the canvas. Name your .ipynb file as â€œYourname_Assignment2.ipynb" before submitting.

While working on the assignment;
- Use your judgement
- State your assumptions (what do you understand)
- Solve the problem

Good luck!

In [4]:
# Question 1:  Considering the code below, write code that prints out True! if x has 3 items or more. 

# Otherwise False


list_1 = ["Heider",'Creighton',"Jack"]

#use length to determine about of items

if len(list_1)>=3:
    print("True!")
else:
    print("False!")

True!

In [6]:
# Question 2:  Considering the code below, write code that prints out True! 
# if at least one of the following conditions occurs:

## the string contains the character "w"

## the string contains the space character " " at least four times

string_2 = "This is week 2 and it is even more fun to learn the conditions, loops etc."

#use count to determine spaces

if "W" in string_2 or string_2.count(" ")>=4:
    print("True!")
else:
    print("False!")

True!

In [23]:
#  Question 3 : Considering the code below, write code that prints out True! 
# if the smallest element of the first range plus the first element of the 2nd range is equal 
# to the first element of the third range, 


# prints out False! if the length of the second range minus the length of the 3rd range is equal 
# to the third element of the 3rd range, 


# and prints out Maybe! if the sum of all the elements of the 3rd range divided by 2 returns a remainder of 0, 


# and prints out None! otherwise.


list_3 = [list(range(5)), list(range(5,9)), list(range(1,10,3))]
 
#use indexing and nesting to call ranges
#last range sum is even so maybe is called
    
if min(list_3[0]) + list_3[1][0] == list_3[2][0]:
    print(True)
elif len(list_3[1]) - len(list_3[2]) == list_3[2][2]:
    print("False!")

elif sum(list_3[2])%2 == 0:
    print("Maybe!")
else:
    print("None!")

Maybe!

In [31]:
# Question 4: Write a for loop that iterates over the x list 
# and prints out all the elements of the list divided by 2 and the string "Great job!" after the list is exhausted.

list_4 = [5, 1, 3, 14, 22, 100 ,40]

#print should not be indented

for x in list_4:
    print((x/2))
print("Great job!")

2.5
0.5
1.5
7.0
11.0
50.0
20.0
Great job!

In [41]:
# Question 5: Write a while loop that 


# prints out the value of x divided by y while x is greater than 10 and less than 15, 


# and prints out the result of x divided by 10 by y when x becomes 15. 


# Be careful not to end up with an infinite loop!



x = 10
y = 2

#directions are confusing - has to be equal to 10 first or it wont iterate.
#X+1 stops infinite looping

while x >= 10 and x < 15:
    print(x/y)
    x = x + 1
else:
    print(x/10)

5.0
5.5
6.0
6.5
7.0
1.5

In [61]:
# Question 6 : Write a code that will iterate over the x and y lists 
# and divide each element of "x" by "y" that is less than 5  
# also print the integer form of the results to the screen.

# Again, convert the results to the integer.

# Hint: use nesting!

#use int for integer results to remove float

x = [6, 12,18,24]
y = [1, 2, 5, 3]

for i in x:
    for j in y:
        if j < 5:
            print(int(i/j))

6
3
2
12
6
4
18
9
6
24
12
8

In [79]:
# Question 7: Using for loop, add 2 to each item in list7, and print the results in a different list called "list7a"

# After that, again using for loop, multiply each item in list7a by 3, 
#and print the results in a different list called "list7b"
    
    
list7=[3, 7, 6, 8, 9, 11, 15, 25]
list7a=[]
list7b=[]

#use empty list in formula
#use append to add to empty lists

for a in list7:
    list7a.append(a+2)
print(list7a)

for b in list7a:
    list7b.append(b*3)
print(list7b)

[5, 9, 8, 10, 11, 13, 17, 27]
[15, 27, 24, 30, 33, 39, 51, 81]

In [82]:
# Question 8: Write an if statement that asks for the user's age via input() function. 


#If the age is greater than 65, make it print "Are you planning to retire soon?"


# if the age is less than 23, make it print "Do you plan to go to grad school?"


# Otherwise make it print "Tell me a little bit about your job". 


#(Replace Name with user's name)

#use int to make input into number

age = int(input("How old are you?"))
if age > 65:
    print("Are you planning to retire soon?")
elif age < 23:
    print("Do you plan to go to grad school?")
else:
    print("Tell me a little bit about your job")

How old are you?34
Tell me a little bit about your job

In [119]:
# Question 9: The following list of numbers is given:   list_9 = [1,4, 3, 9, 16, 25]


# Write a program that removes even numbers and returns the remaining ones. Print the result to the console.


# Expected results: [1,3,9,25]
     
#use results as empty list to append into
#use != as not equal
    
list_9 = [1,4, 3, 9, 16, 25]

results=[]

for a in list_9:
    if a%2 != 0:
        results.append(a)
print(results)

[1, 3, 9, 25]

In [152]:
# Question 10: The following list is given:  list_10 = [1,2,2,3,3,3,4,4,4,4]

# Write a program that removes the numbers whose frequency is more than 2
# (i.e. there are three of 3s and four 4s, so both 3s and 4s need to be removed)
# and print the list to the console.

# Expected result: [1, 2, 2]

#need results list and will use append

list_10 = [1,2,2,3,3,3,4,4,4,4]
results=[]
for a in list_10:
    if list_10.count(a)<=2:
        results.append(a)
print(results)

[1, 2, 2]

## Good Luck !